body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 1em; /* em is equal to current font size */
  padding: 1em;
  display: flex; /* flex means data is placed in a flex container which is like a net around your items */
  justify-content: center;
  align-items: center;
  background-color: beige;
}

h1 {
  color: #000; 
  margin-top: 5px; 
}

h2, h3, p {
  color: #000; 
  margin-top: 5px; 
  margin-bottom: 10px; 
}

p {
  color: #000; 
  margin-top: 5px; 
  margin-bottom: 20px; 
}

.welcome-container {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center align items horizontally within container */
  padding: 10px;
}

.logo img {
  max-width: 100px; /* size of logo */
  height: 100px;
  display: block;
  margin: 0 auto; /* center horizontally to page */
  margin-bottom: 5px; /* add bottom margin to create space */
}

.header h1 {
  font-size: 2em;
  margin-bottom: 5px; /* add bottom margin to create space */
}

.subheader h2 {
  font-size: 1.5em;
  margin-bottom: 20px; /* add bottom margin to create space */
}

.search-container {
  display: flex;
  align-items: center;
  width: 400px; /* size of the search box */
  margin: 0 auto; /* centre the form horizontally */
  margin-bottom: 20px; /* add bottom margin to create space */
}
  
  .search-container input[type="text"] {
    flex: 1; /* grow to fill remaining space */
    padding: 8px; /* padding for input field */
    font-size: 16px; /* font size for input field */
    border: 2px solid #ccc; /* border for input field */
    border-radius: 4px; /* Rounded corners */
  }

  .search-container button{
    padding: 8px 16px; /* padding for button */
    font-size: 16px; /* font size for button */
    background-color: #000; /* background color for button */
    color: #fff; /* text color for button */
    border-radius: 4px; /* rounded corners */
    margin-left: 10px; /* spacing between input and button */
    cursor: pointer; /* show pointer cursor on hover */
  }

.radio-container {
  display: flex;
  margin: 0 auto; /* center horizontally to page */
  justify-content: center;
  align-items: center;
} 

  .radio-container label {
  margin-right: 10px; /* spacing between radio button and label */
  cursor: pointer; /* show pointer cursor on hover */
  } 

  .radio-container input {
  margin-right: 10px; /* spacing between radio button and label */
  cursor: pointer; /* show pointer cursor on hover */
  }  

.results-container {
  display: flex;
  align-items: left;
  width: 400px; /* size of the space */
  margin-top: 10px; /* add bottom margin to create space */
  margin-bottom: 10px; /* add bottom margin to create space */
}

.resultElement {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.resultElement strong {
  font-weight: bold;
}

.resultElement p {
  font-weight: normal;
}

footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  color: #000;
  padding: 20px;
  text-align: center;
  font-size: 0.75em;
  z-index: 999; /* Ensure the footer is above other elements */
}

form {
  display: inline-block; /* Form outline */
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 1em;
  margin-bottom: 20px; /* add bottom margin to create space */
  align-items: left;
  list-style-type: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  min-width: 90px;
  text-align: left;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: calc(100% - 20px); /* Set the width to 100% minus padding */
  /* padding: 10px; /* Add some padding for spacing */
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  width: calc(100% - 20px); /* Set the width of the submit button */
  margin-bottom: 10px; /* Match the bottom margin of form inputs */
  /* padding-left: 100px; /* same size as the label elements */
}

.cancel-form, .new-abb {
  margin-top: 10px;
}